body {
  background-color: #000000;
  color: white;
}

#nav-table {
  width: 800px;
}

#nav-td {
  width: 300px;
  text-align: center;
}

div {
  width: 800px;
  margin: auto;
  border: 1px solid red
}
