body {
  background-color: #000000;
  color: white;
  text-align: center;
}

#nav-table {
  width: 800px;
}

#nav-td {
  width: 300px;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



div {
  width: 900px;
  margin: auto;
  border: 2px solid white
}
