body {
  background-color: #000000;
  color: white;
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
}

#nav-table {
  width: 800px;
}

#nav-td {
  width: 266px;
  text-align: center;
}

#banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
  margin: auto;
  width: auto;
  border: 3px solid white;
  padding: 10px;
}

